<!-- HEAD-->   
<%- include('./partials/head.ejs', {title: 'MF-MF-WebDesign', logo: "./img/partials/mf-logo-1.png"}) %>
<!-- Link general css file --> 
<link rel="stylesheet" href="/css/partials/stylePartials.css">
<link rel="stylesheet" href="/css/index/styleIndex.css">
</head>
<!-- HEAD-->   

<!-- HEADER--> 
<%- include('./partials/header.ejs') %>
<!-- HEADER--> 

<!-- MAIN--> 
<section>

</section>
<!-- MAIN--> 

<!-- FOOTER-->   

<script src="/js/index.js"></script>
<%- include('./partials/footer.ejs') %>

<!-- FOOTER--> 

